* {
  box-sizing: border-box;
  margin: 0 auto;
}

html {
  background-color: black;
  font-size: 16px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.bar {
  display: block;
  padding: 2rem 0;
  margin-left: 0;
}

.bar ul {
  margin: 0;
}

.bar a {
  text-decoration: none;
  color: white;
  background-color: green;
  border-radius: 0.4rem;
  padding: 1rem 1rem;
}

.bar a:hover {
  color: red;
}

.bar li {
  list-style: none;
  display: inline;
}

.intro {
  height: 30rem;
  font-size: 2rem;
  text-align: center;
  padding-top: 10rem;
}

.summary {
  padding: 0 1rem;
}

.summary h2 {
  display: block;
  margin-block-start: 0.83rem;
  margin-block-end: 0.83rem;
  color: green;
  font-size: 1.5rem;
  font-weight: bold;
}

.summary p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  color: white;
  font-size: 1rem;
}

.photos {
  margin: 4em auto;
  display: block;
}

.photos img {
  width: 30%;
  margin: 1.5%;
}
